


/*
 * Global
 -------------------------------------------*/

body {
    background: #E9E9E9
}

.container {
    padding: 0px;
}

button {
    box-shadow: none;
    border: none;
}

button:hover {
    box-shadow: none;
    color: #D43F3A;
    background-color: #E9E9E9;
}


/*
 * Layout
 -------------------------------------------*/




/*
 * Navbar
 -------------------------------------------*/

h1.site-title > a{
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.navbar {
    padding: 0px 25px 10px 10px;
    background: #d43f3a;
    color: white;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

#navbar-button-group {
    margin: 25px 0px 0px;
}
.navbar-button {
    background-color: transparent;
}


/*
 * Hero Section
 -------------------------------------------*/
#hero-section {
    background: url('../img/boots-mtn.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    position: relative;
    display: table;
    width: 100%;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#hero-section article {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#hero-section .hero-text {
    margin-top: 30px;
}
.hero-section-title,
.hero-section-p {
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
}

.hero-section-title {
    font-size: 38px;
    font-weight: bold;
}

.hero-section-p {
    font-size: 28px;
}

/*
 * Masonry Mainpage
 -------------------------------------------*/

#masonry-homepage {
    padding: 0 auto;
}

.post-featured-image {
    text-align: center;
    max-width: 300px;
}

.grid {
    margin-top: 25px;
}

.grid-item {
    margin: 5px 0px;
}


.grid-item-content {
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px;
}

#main-page-footer-nav {
    margin-top: 30px;
    padding: 10px 20px;
}

.entry-title > a {
    text-decoration: none;
}

.author-info {
    margin-top: 10px;
}

.author-image > img {
    border: 1px solid #aaaaaa;
    border-radius: 50px;
    max-width: 50px;

}

.main-page-the-content {
    margin: 10px;
}

.main-page-the-content > p {
    text-align: left;
}


.nav-previous > a,
.nav-next > a {
    background-color: #D43F3A;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}

.nav-previous > a:hover,
.nav-next > a:hover {
    background-color: #ffffff;
    color: #D43F3A;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
}

/*
 * Footer
 -------------------------------------------*/

footer {
    margin: 40px;
    float: right;
}

#footer-credits {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #aaa;
}

.site-info > a {
    text-decoration: none;
}

/*
 * Posts
 -------------------------------------------*/

#posts-hero-section {
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 300px;
    position: relative;
    display: table;
    width: 100%;
    padding: 40px 0;
    color: white;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

#posts-hero-section .hero-text {
    margin-top: 30px;
}

#posts-hero-section article {
    width: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


header {
    text-align: center;
}

#content {
    max-width: 900px;
    background: white;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 30px;
    margin: 20px auto;
}

.post-body {
    max-width: 700px;
    margin: 0px auto;
    padding: 0 30px;
}




/*
 * Search form
 -------------------------------------------*/

.col-centered{
    float: none;
    margin: 0 auto;
}

#toggle{
    display:none;
    z-index: 999999;
    position: absolute;
    text-align: center;
    margin: 0px auto;
    width: 300px;
    height: 50px;
    border-radius: 10px;

}