/*--------------------------------------------------------------
## Media Queries
--------------------------------------------------------------*/

@media only screen and (max-width: 780px) {
    div.input-group {
        width: 100%;
    }

    .collapse, .navbar-collapse {
        display: block !important;
    }

    #modal-menu > div > div.modal-content {
        background: #000000;
    }

    ul#menu-short.nav.nav-stacked {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 768px) {
    div.#bs-example-navbar-collapse-1.collapse.navbar-collapse{
        display: block !important;
    }
}

@media only screen and (max-width: 580px) {

    div.col-sm-12.col-md-12.search-navbar.text-center{
        display: block !important;
    }

    div.#bs-example-navbar-collapse-1.collapse.navbar-collapse{
        display: block !important;
    }

    .col-xs-6 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .navbar {
        padding-left: 0px;
        padding-right: 0px;
    }

    .site-branding {
        padding-left: 0px;
        padding-right: 0px;
    }

    .site-branding > h1 {
        font-size: 22px;
    }

    #navbar-button-group {
        margin: 15px 0px 0px;
    }

    li {
        /*word-wrap: break-word;*/
    }

    .grid-item-content {
        overflow: hidden;
    }
}