/*
 * Footer
 -------------------------------------------*/

footer {
  margin: 40px;
  float: right;
}

#footer-credits {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #aaa;
}

.site-info > a {
  text-decoration: none;
}