/*
 * Global
 -------------------------------------------*/
body {
  background: $color__background-site;
}

.container {
  padding: 0px;
}

button {
  box-shadow: none;
  border: none;
  text-shadow: none;
}

button:hover {
  box-shadow: none;
  color: $color__site-primary;
  background-color: $color__background-site;
}

input[type="submit"] {
  box-shadow: none;
  border: none;
  text-shadow: none;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1;
  padding: .6em 1em .4em;
  background-color: $color__site-primary;
  color: $color__background-site;
}

input[type="submit"]:hover {
  box-shadow: none;
  color: $color__site-primary;
  background-color: $color__background-body;
}

p {
  font-size: 16px;
}

ul {
  font-size: 16px;
}

a {
  color: $color__link;
}

a:visited {
  color: $color__link-visited;
}

/**
/* Layout*/
/*-------------------------------------------*!/*/

.content-area {
  padding: 0 30px;
}