/*
 * Navbar
 -------------------------------------------*/

h1.site-title > a {
  color: $color__title-text;
  text-decoration: none;
  font-size: 1em;
}

.navbar {
  padding: 0px 25px 10px 10px;
  background: $color__site-primary;
  color: $color__title-text;
}

.navbar-default {
  border: none;
  border-color: none;
}

.navbar-default .navbar-brand {
  color: $color__title-text;
}

.navbar-default .navbar-brand:hover {
  color: $color__title-text;
  background-color: transparent;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 0px !important;
}

#header-logo {
  height: 60px;
  min-width: 190px;
  margin-top: 10px;
}

.navbar-default .navbar-nav > li > a {
  color: $color__title-text;
}

.navbar-default .navbar-nav > li > a:hover {
  color: $color__title-text;
  background-color: transparent;
  border: 1px solid $color__title-text;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color__background-body;
}

.nav > li > a:focus, .nav > li > a:hover {
  border-radius: 4px;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
  border-radius: 4px;
}

.nav > li > a:visited {
  color: $color__title-text;
}

.nav > li > a:hover {
  color: $color__link;
}

.dropdown-menu > li > a {
  color: $color__link;
}

#navbar-button-group {
  margin: 25px 0px 0px;
}

.navbar-button {
  background-color: transparent;
}

.navbar-collapse > ul > li > a {
  color: $color__title-text;
  font-size: 24px;
}